html, body, th, td, dl, dt, dd, ul, ol, li, form, textarea, input, select, h1, h2, h3, h4, h5, h6, iframe, p {
    margin: 0;
    padding: 0;
    font: 13px Arial, Helvetica, sans-serif;
}

em {
    font-style: normal;
}

body {
    background: #fff;
}

dl, ul {
    list-style: none;
}

img, body, html {
    border: 0;
}

img, input, select, button {
    vertical-align: middle;
}

a {
    color: #12c;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}
